# Bytecode do Python
__pycache__/
*.py[cod]

# Arquivos de log
*.log

# Ambientes virtuais
venv/
.env/
env/
ENV/
.venv/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de backup/swap de editores
*.swp
*.swo
*~

# Arquivos de cache
.cache/

# Arquivos de testes ou configurações locais
*.local
